/************** Global Styles **************/
/*Pretend these are tokens*/
/*--bg-light    rgb(240, 240, 240)  */
/*--bg-dark     rgb(40, 40, 40)     */
/*--primary     #d7ff00             */
/*--secondary   #ff8000             */
/*--text-xl     48px                */
/*--text-l      36px                */
/*--text-m      24px                */
/*--text-s      18px                */
/*--text-xs     16px                */
/*--radius      5px                 */
/*--gap-xl                          */
/*--gap-l                           */
/*--gap-m                           */
/*--gap-s                           */
/*--gap-xs                          */

* {
    font-family: Roboto, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(240, 240, 240);

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-weight: 700;
}

a {
    color: #d7ff00;
}

button {
    font-size: 16px;
    font-weight: 700;
    background-color: #ff8000;

    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

img {
    border-radius: 5px;
}

/************** Section Styling **************/
.section {
    width: 100%;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1280px;
    min-width: 420;
    max-width: 1000px;
    padding: 1rem;
}

/************** Class Styles **************/
/*** Header Section ***/
.header-section {
    height: 100px;
    padding: 0;
}
header, .header-section * {
    background-color: rgb(40, 40, 40)
}
.header-section__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
/*.header__logo-wrapper {
    
}*/
.header__logo {
    width: 175px;
    height: auto;
}
/*.header__nav {

}*/
.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
}
/*.header__nav-item {
    
}*/
.header__nav-link {
    text-decoration: none;
    color: rgb(240, 240, 240)
}

/*** Hero Section ***/
.hero-section, .hero-section * {
    background-color: rgb(40, 40, 40);
    color: white;
}
.hero-section {
    justify-content: center;
}
.hero-section__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 7.5rem 0rem;
}
.hero-section__content-wrapper {
    display: flex;
    flex-direction: column;

    min-width: 375px;
    max-width: 450px;
    gap: 1rem;
}
/*.hero-section__heading {
    
}*/
.hero-section__text {
    font-weight: 300;
    color:rgb(188, 188, 188);
}
/*.hero-section__cta-wrapper {

}*/
.hero-section .hero-section__cta {
    /*background-color: #d7ff00;*/
    color: #d7ff00;
    border-color: #d7ff00;
}
/*.hero-section__media-wrapper {

} */
.hero-section__media {
    width: 450px;
    height: auto;
    box-shadow: 0 0 25px 0 rgb(27, 27, 27);
}

/*** Features Section ***/
.features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;
}
.features-section__heading-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1rem;
    padding: 0;
}
/*.features-section__heading {

} */
.features-section__heading--accent {
    order: -1;
    font-weight: 300;
}
.features-section__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features__card {
    display: flex;
    flex-direction: column;
    
    flex: 0 0 300px;

    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 25px 0 rgb(188, 188, 188);
}
.features__card-media-wrapper {
    border-radius: 5px 5px 0px 0px;
}
.features__card-media {
    width: 300px;
    height: auto;
    border-radius: 5px 5px 0px 0px;
}
.features__card-text-wrapper {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0px 0px 5px 5px;
}
/*.features__card-heading {

}*/
.features__card-text {
    border-radius: 0px 0px 5px 5px;
    color:rgb(90, 90, 90);
}

/*** Testimonial Section ***/
.testimonial-section {
    display: flex;
    padding: 4rem 0;
}
.testimonial-section, .testimonial-section * {
    background-color: rgb(40, 40, 40);
}
/*.testimonial-section__inner {
    
}*/
.blockquote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blockquote__quote {
    font-size: 20px;
    font-style: italic;
    color: rgb(200, 200, 200);
}
.blockquote__author {
    font-weight: 700;
    color: white;
    text-align: right;
}

/*** CTA Section ***/
.cta-section {
    padding: 4rem 0;
}
.cta-section__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 0;
    gap: 3rem;
    box-shadow: 0 0 25px 0 rgb(188, 188, 188);
}
.cta-section__inner, .cta-section * {
    background-color: #d7ff00;
    border-radius: 5px;
}
.cta-section__inner > .features__card-text-wrapper {
    padding: 0 5rem;
}
.cta-section__inner p {
    color:rgb(90, 90, 90)
}
.cta-section__button-wrapper {
    padding: 0 5rem;
}
.cta-section__button {
    color: rgb(27, 27, 27);
    border-color: rgb(27, 27, 27);
    width: max-content;
}

/*** Footer Section ***/
.footer-section {

}
.footer-section * {
    
}
.footer-section__inner {

}
.footer-nav {

}
.footer-nav__item {

}
.footer-copyright {

}
/************** ID Stles **************/